@model RestauranteWeb.Models.MesaViewModel

<div class="details-container">
    <h2 class="details-title">Deletar Mesa</h2>
    <p class="confirmation-text text-black">Você tem certeza de que deseja excluir essa Mesa ?</p>
    <hr class="details-divider" />
    <dl class="details-list">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Identificacao)</dt>
        <dd>@Html.DisplayFor(model => model.Identificacao)</dd>

        <dt>@Html.DisplayNameFor(model => model.NomeRestaurante)</dt>
        <dd>@Html.DisplayFor(model => model.NomeRestaurante)</dd>

    </dl>

    <form asp-action="Delete" class="details-buttons">
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-back">Voltar</a>
    </form>
</div>
