@model IEnumerable<RestauranteWeb.Models.MesaViewModel>

<div class="index-container">
    <div class="index-header">
        <h2 class="index-title">Lista de Mesas</h2>
        <div class="index-actions">
            <a asp-action="Create" class="btn btn-create">Cadastrar</a>
        </div>
    </div>

    <table class="table index-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Identificacao)</th>
                <th>@Html.DisplayNameFor(model => model.NomeRestaurante)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Identificacao)</td>
                    <td>@Html.DisplayFor(modelItem => item.NomeRestaurante)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-edit" })
                            @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
