@model RestauranteWeb.Models.PedidoViewModel

<div class="details-container">
    <h2 class="details-title">Deletar Pedido</h2>
    <p class="confirmation-text">Você tem certeza de que deseja excluir este Pedido?</p>
    <hr class="details-divider" />
    <dl class="details-list">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGarcom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGarcom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoDetalhes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoDetalhes)
        </dd>
    </dl>

    <form asp-action="Delete" class="details-buttons">
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-back">Voltar</a>
    </form>
</div>
