@model RestauranteWeb.Models.PedidoViewModel
<div class="details-container">
    <h2 class="details-title">Detalhes do Pedido</h2>
    <hr class="details-divider" />
    <dl class="details-list">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAtendimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGarcom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGarcom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        
    </dl>
    <div class="details-buttons">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-edit" })
        <a asp-action="Index" class="btn btn-back">Voltar</a>
    </div>
</div>

