@model RestauranteWeb.Models.AtendimentoViewModel

@{
    ViewData["Title"] = "Deletar Atendimento";
}

<div class="details-container">
    <h2 class="details-title">Excluir Atendimento</h2>
    <p class="confirmation-text text-black">Você tem certeza de que deseja excluir esse atendimento?</p>
    <hr class="details-divider" />
    
    <dl class="details-list">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>


        <dt>@Html.DisplayNameFor(model => model.NomeRestaurante)</dt>
        <dd>@Html.DisplayFor(model => model.NomeRestaurante)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotalServico)</dt>
        <dd>@Html.DisplayFor(model => model.TotalServico)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotalConta)</dt>
        <dd>@Html.DisplayFor(model => model.TotalConta)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotalDesconto)</dt>
        <dd>@Html.DisplayFor(model => model.TotalDesconto)</dd>    
        
        <dt>@Html.DisplayNameFor(model => model.Total)</dt>
        <dd>@Html.DisplayFor(model => model.Total)</dd>

    </dl>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Deletar</button> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
