@model IEnumerable<RestauranteWeb.Models.AtendimentoViewModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRestaurante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeRestaurante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRestaurante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRestaurante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
